<?xml version="1.0"?>
<launch>

  <!-- Load the robot model into the parameter server -->
  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find isro_description)/urdf/isro.xacro'"/>
  <param name="robot_description" command="$(arg urdf_file)" />
  


  <!-- <node pkg="motor_control" type="six_motors_ros_interface.py" name="six_motor_controller_ros" output="screen"/> -->
  
  <!-- Differential Drive Controller  -->
  <node pkg="differential_driver" type="six_twist_to_motors.py" name="six_twist_to_motors" output="screen"/>
  <node pkg="differential_driver" type="six_diff_tf.py" name="six_diff_tf" output="screen"/>

  <!-- Joint State Publisher - Publishes Joint Positions -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <!-- Robot State Publisher  - Uses URDF and Joint States to compute Transforms -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Motor Controller -->
    <node pkg="motor_control" type="velocity_to_motors.py" name="velocity_to_motors" output="screen"/>
  
  <!-- Arduino_left -->
  <node pkg="rosserial_python" name="rosserial_arduino__node" type="serial_node.py" args="/dev/ttyACM1"/>

  <!-- Arduino_right -->
  <!-- <node pkg="rosserial_python" name="rosserial_arduino_right_node" type="serial_node.py" args="/dev/ttyACM1"/> -->

  <!-- Teensy4.0 -->
   <!-- <node pkg="rosserial_python" name="rosserial_teensy_node" type="serial_node.py" args="/dev/ttyACM1"/> -->
  
  <!-- Joystick Teleop -->
  <!-- <include file="$(find key_control)/launch/turtle_joy_hardware.launch"/>                            // -->
  
  <!-- <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py"  output="screen" /> -->
    
  <!-- Joystick Functionalities -->
  <!-- <node pkg="scripts" name="robot_interaction" type="robot_interaction.py"/>                   // -->

  <!-- Arduino Functionalities -->
  <!-- <node pkg="scripts" name="arduino_integration" type="arduino_integration.py"/>               // -->

  <!-- RPLidar A2M12 -->
  <include file="$(find rplidar_ros)/launch/isro_lidar_a2m12.launch"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(find bringup)/maps/arena.yaml"/>
  
  <!-- AMCL - Localization -->
  <!-- <node pkg="amcl" type="amcl" name="amcl" output="screen">
      <rosparam file="$(find bringup)/config/amcl.yaml" command="load"/>
  </node> -->

  <!-- AMCL -->
  <include file="$(find bringup)/launch/amcl.launch"/>

    <!-- SLAM - Map Building -->
    <!-- <include file="$(find hector_slam_launch)/launch/tutorial.launch"/> -->


  <!-- Move Base - Navigation -->
  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <rosparam file="$(find bringup)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find bringup)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find bringup)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find bringup)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find bringup)/config/global_planner_params.yaml" command="load" />
    <rosparam file="$(find bringup)/config/move_base_params.yaml" command="load" />

    <!-- GLOBAL PLANNERS -->
    <param name="base_global_planner" value="navfn/NavfnROS" />
    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
    
    <!-- LOCAL PLANNERS -->
    <rosparam file="$(find bringup)/config/dwa_local_planner.yaml" command="load"/>
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>

    <rosparam file="$(find bringup)/config/trajectory_planner.yaml" command="load"/>
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>

    <rosparam file="$(find bringup)/config/teb_local_planner.yaml" command="load"/>
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>

    <remap from="/cmd_vel" to="/diffbot_controller/cmd_vel"/>
  </node>
  
  <!-- RVIZ  - Visualization -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bringup)/rviz/robo_navigation.rviz"/>
  
</launch>
